logging:
    file:
        name: /logs/ch09.log
    level:
        root: info
mybatis:
    mapper-locations: classpath:mappers/**/*.xml
server:
    port: 8080
    servlet:
        context-path: /ch09
spring:
    servlet:
      multipart:
        max-file-size: 10MB
    application:
        name: ch09
    datasource:
        driver-class-name: oracle.jdbc.OracleDriver
        url: jdbc:oracle:thin:@127.0.0.1:1521:XE
        username: rainbow0oo0
        password: 1234
    devtools:
        livereload:
            enabled: true
    jpa:
        hibernate:
            ddl-auto: update
            naming:
                physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        properties:
            hibernate:
                dialect: org.hibernate.dialect.OracleDialect
                format_sql: true
                show_sql: true

jwt:
    issuer: eternalsoul0634@gmail.com
    secret: EAA816CA9EF2A2E1D239EA24823E5X9Q

file:
  upload:
    path: uploads